<div class="row">
    <div class="col-md-2">
        <?= $this->element('lc_list_menu'); ?>
    </div>
    <div class="col-md-10">
        <h2 style="margin-top: 0px;">Kandydaci</h2>
    </div>
</div>