<div class="localCommittees form">
<?php echo $this->Form->create('LocalCommittee'); ?>
	<fieldset>
		<legend><?php echo __('Edit Local Committee'); ?></legend>
	<?php
		echo $this->Form->input('id');
		echo $this->Form->input('name');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $this->Form->value('LocalCommittee.id')), null, __('Are you sure you want to delete # %s?', $this->Form->value('LocalCommittee.id'))); ?></li>
		<li><?php echo $this->Html->link(__('List Local Committees'), array('action' => 'index')); ?></li>
		<li><?php echo $this->Html->link(__('List Universities'), array('controller' => 'universities', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New University'), array('controller' => 'universities', 'action' => 'add')); ?> </li>
	</ul>
</div>
