<div class="jumbotron">
<h1>Siemanko <?php echo $userName ?></h1>
<p class="lead">
Twoje konto jest teraz zarejestrowane, lecz niestety nie jest jeszcze aktywne. </br>
W momencie kiedy koordynator bądź zarząd twojego KLu aktywnuje konto dostaniesz stosowną informację na <b><?php echo $userEmail ?></b>. Na umilenie oczekiwania - MC Hammer.
</p>
<iframe width="430" height="360" src="//www.youtube.com/embed/otCpCn0l4Wo?rel=0" frameborder="0" allowfullscreen></iframe>



